
.animated-bg-reveal {
  position: absolute;
  top: 25%;
  left: 65%;
  width: 20%; 
  height: 65vh;
  background: rgb(0,0,0);
  border-radius: 20px; 
  font-size: 1.1em;
  box-shadow: 0px 15px 35px -10px rgba(0, 0, 0, 0.35); 

  transform-style: preserve-3d;
 
}
